body{
    margin: 5px 0px 0 8px;
}

#player{
    max-width: 800px;
    height: 600px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.player-menu{
    padding: 5px 0 9px 0px;
    background-color: black; 
    display: flex;
    align-items: center;
}

.button-player{
    height: 28px;
    width: 37px;
    border: 0px; 
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 19px;
    color: aliceblue;
}

.video-container{
    flex-grow: 1;
}

.process-bar-timer{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.process-bar{
    flex-grow: 1;
    height: 6px;
    border-radius: 5px;
}

.process-bar-fill{
    flex-grow: 0;
}

.process-bar-empty{
    display: flex;
    align-items: center;
    margin: 0 12px;
}

.timer-right{
    text-align: right;
}

.video-timer{
    padding: 0;
    border: 0;
    background-color: transparent;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px
}

.dot {
    height: 7px;
    width: 7px;
    background-color: red;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 0 -13px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .4s
  }

.process-bar-timer:hover .dot{
    opacity: 100;
    transition-property: opacity;
    transition-duration: .4s
}
